    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    }

    .header {
        display: flex;
        background-color: red;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        
        
        .header2 {
            padding-left: 30px;
        }
        
        a {
            color: white;
            text-decoration: none;
            padding-right: 30px;
        }
        i{
            padding-right: 30px;
            font-size: 20px;
        }
        .home {
            color: black;
        }

    }

        .Image1 {
            height: 420px;
            background-image: url(Assets/blue-calm-mountain-river-skirting-mountain-slopes_124507-45218.jpg);
            background-size: cover;
            text-align: center;
            align-items: center;
            padding-top: 70px;

        }
        
        .LEVEL {
            color: white;
            font-size: 60px;
        }

        .LEVEL2 {
            color: white;

        }

        .button {
            margin-top: 40px;
            color: white;
            background-color: red;
            border: none;
            font-size: 14px;
            padding: 9px 35px;
        }

        .footer {
            display: grid;
            grid-template-columns: auto auto auto ;
            margin-top: 80px;
            height: 200px;

            .part1 {

                display: flex;
                justify-content: center;
            
                
                h5 {
                    padding-top: 20px;
                    opacity: 0.5;
                    
                }

            

            }

            #icon {
                margin-top: 30px;
                padding-right: 12px;
        
            }

            .part2 {
                   margin-left: -50px;
                   display: grid;
                   grid-template-columns: auto auto auto;
                   justify-content: center;
                
                .Support {
                    padding-top: -10px;
                    padding-left: 50px;
                    opacity: 0.5;
                    font-size: 14px;
                }   
            }

            .part3 {
                text-align: center;
                opacity: 0.4;
                
              #icon2 {
                color: white;
                background-color: black;
                font-size: 25px;
                margin: 15px;
              }
                
            }
        }

@media (max-width: 768px) {

        
.header {
    font-size: 12px; 
    
    .header2 {
        padding-left: 4%;
    }
    
    a {
        padding-right: 30px;
    }
    i{
        padding-right: 30px;
        font-size: 20px;
    }

}

    .Image1 {
        height: 300px ;

    }
    
    .LEVEL {
        font-size: 40px;
    }

    .LEVEL2 {
        font-size: 15px;

    }

    .footer {

        display: grid;
        grid-template-columns: auto auto auto ;
        margin-top: 50px;
        height: 200px;

        .part1 {

            display: flex;
            justify-content: center;
        
            
            h5 {
                padding-top: 20px;
                opacity: 0.5;
                
            }

        }

        #icon {
            margin-top: 10px;
            padding-right: 12px;
    
        }

        .part2 {
               margin-left: -40px;
               display: grid;
               grid-template-columns: auto auto auto;
               justify-content: center;
               
            .Support {
                padding-top: -10px;
                padding-left: 50px;
                opacity: 0.5;
                font-size: 11px;
            }   
        }

        .part3 {
            text-align: center;
            opacity: 0.4;
            
          #icon2 {
            color: white;
            background-color: black;
            font-size: 25px;
            margin: 15px;
          }
            
        }

        
    }

}