 $mycolor : blue;
 $size : 20px ;

body {
   

 nav {
   display: flex;
   background-color: $mycolor;
   height: 60px;
   align-items: center;
   justify-content: space-between;
   padding-right:10px ;
   

 }

 li {
    font-size: $size;
    list-style: none;
    padding-left: 10px;

 }

 a {
   text-decoration: none;
   color: white;
   padding: 20px;

 }


}
